<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <title>Cannablr - Marijuana to your doorstep</title>
      <link rel="author" href="humans.txt" />

      <meta name="viewport" content="width=device-width; initial-scale=1.0">

      <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
      <![endif]-->

      <link href="/static/webfonts/ss-junior.css" rel="stylesheet" />
      <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600|Montserrat' rel='stylesheet' type='text/css'>
      
      <link rel="stylesheet" type="text/css" href="/static/css/landingpage.css">
   </head>
   <body class="index">
      <header class="masthead">

         <div class="toolbar">
            <h1 class="logo"><a href="/">Cannablr</a></h1>
            <nav>
               <span>Already have an account?</span>
               <a class="button outline" href="accounts/signin">Login</a>
            </nav>
         </div>

         <div class="inner">
            <h1>Introducing Cannablr</h1>
            <p>The automagical way to find marijuana.</p>
            <a class="button large blue" href="accounts/signup">Get Started</a>
            <h6 style="color: rgba(255, 255, 255, 0.4)">Sign up for early access to our beta</h6>
         </div>
         <img src="/static/img/landingpage/feature6.png" alt=""/>
      </header>

      <div>
         <section class="content-mobile">
            <div class="inner">
               <h2>Is your seller running low on product?  <span data-typer-targets="Is it after hours?, Is your dispensary closed?">Mobile</span></h2>
               <p>We've all been there.  You get off work late only to discover your local dispensary is closed for the evening. cannablr solves this dilemna by finding your product and getting it to you quick.</p>
               <img src="/static/img/landingpage/3phones.png" alt="">
            </div>
         </section>

         <section class="content-features">
            <div class="inner">
               <h2>So simple to use, even your mother could do it.</h2>
               <p>Get your strains online in minutes. Create a menu, set a price, and get back to business&mdash;all without missing a beat.</p>
               <ul>
                  <li>
                     <i class="ss-icon animated tada" style="color: #a0d040">robot</i>
                     <h4>Powerful seller tools</h4>
                     <p>Upload a picture and price for your product and we'll do the rest.  Powerful analytics help you keep track of your sales.</p>
                  </li>
                  <li>
                     <i class="ss-icon animated tada">truck</i>
                     <h4>Speed</h4>
                     <p>Find a nearby seller that delivers and have that strain you've been meaning to try delivered to your door within minutes.</p>
                  </li>
                  <li>
                     <i class="ss-icon animated tada" style="color: #cb3e84">store</i>
                     <h4>Simple to use</h4>
                     <p>The cannablr app couldn't be easier to use, our clean and intuitive design means you'll spend more time doing business and less time fiddling with menus.</p>
                  </li>
                  <li>
                     <i class="ss-icon animated tada" style="color: #e6c840">smile</i>
                     <h4>Real people, real support</h4>
                     <p>Need a bit of help? Our friendly support staff are always just a click away.</p>
                  </li>
               </ul>
            </div>
         </section>
      </div>

      <section class="content-signup">
         <div class="inner">
            <h2>Sign up for early access to our beta</h2>
            <p>In order to ensure we provide a quality service, we are signing people up on a first-come, first-served basis. Enter your email address below and be among the first to access cannablr!</p>
            <a class="button large blue" href="accounts/signup">Get Started</a>
         </div>
      </section>

      <footer>
         <nav>
            <ul>
               <li><a href="accounts/signup">Signup</a></li>
               <li><a href="accounts/signin">Login</a></li>
               <li><a href="http://twitter.com">Twitter</a></li>
               <li><a href="http://facebook.com">Facebook</a></li>
            </ul>
         </nav>
         Made with &nbsp;<i class="ss-icon">love</i>&nbsp; in Portland.
      </footer>

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
      <script src="/static/js/jquery.typer.js"></script>
      <script>
         $(function() { $('[data-typer-targets]').typer(); });
      </script>

   </body>
</html>
