
{% load i18n umessages_tags %}
{% load url from future %}

{% block content_title %}<h2>{% trans "Messages" %}</h2>{% endblock %}

{% block content %}
{% get_unread_message_count_for user as unread_message_count %}
{% blocktrans %}{{ unread_message_count }} new messages.{% endblocktrans %}
<a href="{% url 'userena_umessages_compose' %}">{% trans "Compose" %}</a>
<ul>
  {% for message in message_list %}
  <li>
  {% if message.um_from_user == user %}
  <a href="{% url 'userena_umessages_detail' message.um_to_user.username %}">{{ message.um_to_user }}</a>
  {% get_unread_message_count_between user and message.um_to_user as unread_between_count %}
  {% else %}
  <a href="{% url 'userena_umessages_detail' message.um_from_user.username %}">{{ message.um_from_user }}</a>
  {% get_unread_message_count_between user and message.um_from_user as unread_between_count %}
  {% endif %}
  {% blocktrans with message.latest_message as latest_message %}{{ latest_message }} ({{ unread_between_count }} new){% endblocktrans %}
  </li>
  {% endfor %}
</ul>
{% endblock %}


{% load i18n %}
<link href="http://netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/static/css/message_list.css">
<div id="container">
  <div id="header">
    <h1 id="logo">
      <a href="#"><img src="/static/img/cannablrlogo.png" /></a>
    </h1>
    <ul id="jewel-container">
      <li class="jewel requests">
        <a href="#"></a>
      </li>
      <li class="jewel messages">
        <a href="#"></a>
      </li>
      <li class="jewel notifications">
        <a href="#"></a>
      </li>
    </ul>
    <ul id="head-navigation">
      <li><a href="#" class="current">Dashboard</a></li>
      <li><a href="/messages/">Messages</a></li>
      <li><a href="#">Discover</a></li>
      <li><a href="#">Sell</a></li>

    </ul>

    <div class="searchandprofilepic">
      <nav>
        {% if user.is_authenticated %}
        <ul>
          <li class="drop">
            <div class="user-avatar">
              <img src="{{ user.get_profile.get_mugshot_url }}" class="nav" alt=""" />
            </div>
            <div class="dropdownContain">
              <div class="dropOut">
                <ul>
                  <li><span aria-hidden="true" class="icon-envelope-alt"></span><a href="{% url 'userena_profile_detail' user.username %}">My Profile</a></li>
                  <li><span aria-hidden="true" class="icon-user"></span> <a href="{% url 'userena_profile_edit' user.username %}">Edit Profile</a></li>
                  <li><span aria-hidden="true" class="icon-cog"></span><a href="/accounts/password/reset"> Change Password</a></li>
                  <li><span aria-hidden="true" class="icon-off"></span><a href="/accounts/signout"> Log Out</a></li>
                </ul>
              </div>
            </div>
          </li>
        </ul>
        {% else %}
        <li><a href="/accounts/signin">Log in</a></li>  
        {% endif %}
      </nav>

      <div id="head-search">

        <form id="searchform">
            <span>Find Cannabis</span>
          <input placeholder="Find Cannabis">
          <input type="button" class="btn">
        </form>
      </div>
    </div>
  </div>
</div>


{% load url from future %}

{% block content_title %}<h2>{% trans "Messages" %}</h2>{% endblock %}

{% block content %}
{% get_unread_message_count_for user as unread_message_count %}
{% blocktrans %}{{ unread_message_count }} new messages.{% endblocktrans %}
<a href="{% url 'userena_umessages_compose' %}">{% trans "Compose" %}</a>
<ul>
  {% for message in message_list %}
  <li>
  {% if message.um_from_user == user %}
  <a href="{% url 'userena_umessages_detail' message.um_to_user.username %}">{{ message.um_to_user }}</a>
  {% get_unread_message_count_between user and message.um_to_user as unread_between_count %}
  {% else %}
  <a href="{% url 'userena_umessages_detail' message.um_from_user.username %}">{{ message.um_from_user }}</a>
  {% get_unread_message_count_between user and message.um_from_user as unread_between_count %}
  {% endif %}
  {% blocktrans with message.latest_message as latest_message %}{{ latest_message }} ({{ unread_between_count }} new){% endblocktrans %}
  </li>
  {% endfor %}
</ul>
{% endblock %}