{% include "header.html" %}
{% load i18n %}
<title>cannablr | Reset Password</title>
<link rel="stylesheet" type="text/css" href="/static/css/signin_form.css">



{% block title %}{% trans "Signup" %}{% endblock %}

<body>
  <form class="sign-up" action="" method='post'>
  {% csrf_token %}
    <h1 class="sign-up-title">Reset Password</h1>
    <input id="id_email" maxlength="254" name="email" type="email" class="sign-up-input" placeholder="Email"/>
    <input type="submit" value="Send Password" class="sign-up-button">
  </form>
     </div>
</body>
